In [0]:
from google.colab import drive
drive.mount('/gdrive')
%cd /gdrive

Drive already mounted at /gdrive; to attempt to forcibly remount, call drive.mount("/gdrive", force_remount=True).
/gdrive

In [0]:
import numpy as np # linear algebra
import seaborn as sns
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import os
# Input data files are available in the "../input/" directory.
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import pandas
import matplotlib.pyplot as plt
%matplotlib inline
! pip install plotly_express
import plotly_express as px

# Any results you write to the current directory are saved as output.

Requirement already satisfied: plotly_express in /usr/local/lib/python3.6/dist-packages (0.4.1)
Requirement already satisfied: statsmodels>=0.9.0 in /usr/local/lib/python3.6/dist-packages (from plotly_express) (0.10.2)
Requirement already satisfied: pandas>=0.20.0 in /usr/local/lib/python3.6/dist-packages (from plotly_express) (1.0.3)
Requirement already satisfied: patsy>=0.5 in /usr/local/lib/python3.6/dist-packages (from plotly_express) (0.5.1)
Requirement already satisfied: plotly>=4.1.0 in /usr/local/lib/python3.6/dist-packages (from plotly_express) (4.4.1)
Requirement already satisfied: numpy>=1.11 in /usr/local/lib/python3.6/dist-packages (from plotly_express) (1.18.3)
Requirement already satisfied: scipy>=0.18 in /usr/local/lib/python3.6/dist-packages (from plotly_express) (1.4.1)
Requirement already satisfied: python-dateutil>=2.6.1 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.20.0->plotly_express) (2.8.1)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.20.0->plotly_express) (2018.9)
Requirement already satisfied: six in /usr/local/lib/python3.6/dist-packages (from patsy>=0.5->plotly_express) (1.12.0)
Requirement already satisfied: retrying>=1.3.3 in /usr/local/lib/python3.6/dist-packages (from plotly>=4.1.0->plotly_express) (1.3.3)

In [0]:
import os
os.chdir('/gdrive/My Drive/Hackathon/GREATLEARNING-APRIL/FeatureSelection/')

In [0]:
!ls

best_columns.csv	       fund_allocations_bkp.csv  other_specs.csv
bond_ratings_bkp.csv	       fund_allocations.csv	 primary_keys_df.csv
bond_ratings.csv	       fund_config_bkp.csv	 return_10year_bkp.csv
data.csv		       fund_config.csv		 return_10year.csv
df_ANNOVA.csv		       fund_ratios_bkp.csv	 return_3year_bkp.csv
df_CHI2.csv		       fund_ratios.csv		 return_3year.csv
df_FI.csv		       fund_specs_bkp.csv	 return_5year_bkp.csv
df_final.csv		       fund_specs.csv		 return_5year.csv
df_RFE.csv		       metrics.csv
Feature-Selection-Methods.png  other_specs_bkp.csv

In [0]:
## copying the files to feature selection folder
!cp *.csv  '/gdrive/My Drive/Hackathon/GREATLEARNING-APRIL/FeatureAlgo/'

In [0]:
os.chdir('/gdrive/My Drive/Hackathon/GREATLEARNING-APRIL/FeatureAlgo/')

In [0]:

!ls

best_columns.csv      df_training		other_specs_bkp.csv
bond_ratings_bkp.csv  df_training.csv		other_specs.csv
bond_ratings.csv      fund_allocations_bkp.csv	prediction_metric.csv
data.csv	      fund_allocations.csv	primary_keys_df.csv
df_ANNOVA.csv	      fund_config_bkp.csv	return_10year_bkp.csv
df_CHI2.csv	      fund_config.csv		return_10year.csv
df_FI.csv	      fund_ratios_bkp.csv	return_3year_bkp.csv
df_final.csv	      fund_ratios.csv		return_3year.csv
df_RFE.csv	      fund_specs_bkp.csv	return_5year_bkp.csv
df_testing	      fund_specs.csv		return_5year.csv
df_testing.csv	      metrics.csv		sample_submission.csv

In [0]:
##### Reading the backup files
df_RFE = pd.read_csv('/gdrive/My Drive/Hackathon/GREATLEARNING-APRIL/FeatureAlgo/df_RFE.csv')
df_FI = pd.read_csv('/gdrive/My Drive/Hackathon/GREATLEARNING-APRIL/FeatureAlgo/df_FI.csv')
df_CHI2 = pd.read_csv('/gdrive/My Drive/Hackathon/GREATLEARNING-APRIL/FeatureAlgo/df_CHI2.csv')
df_ANNOVA = pd.read_csv('/gdrive/My Drive/Hackathon/GREATLEARNING-APRIL/FeatureAlgo/df_ANNOVA.csv')
metrics = pd.read_csv('/gdrive/My Drive/Hackathon/GREATLEARNING-APRIL/FeatureAlgo/metrics.csv')
primary_keys_df = pd.read_csv('/gdrive/My Drive/Hackathon/GREATLEARNING-APRIL/FeatureAlgo/primary_keys_df.csv')
best_columns = pd.read_csv('/gdrive/My Drive/Hackathon/GREATLEARNING-APRIL/FeatureAlgo/best_columns.csv')
data = pd.read_csv('/gdrive/My Drive/Hackathon/GREATLEARNING-APRIL/FeatureAlgo/data.csv')

In [0]:
for i in list(metrics.columns): 
    if(i == 'Unnamed: 0') : 
        metrics.drop(columns='Unnamed: 0',axis=1,inplace=True)

In [0]:
for i in list(primary_keys_df.columns): 
    if(i == 'Unnamed: 0') : 
        primary_keys_df.drop(columns='Unnamed: 0',axis=1,inplace=True)

In [0]:
df_ANNOVA.sample(3)

       5yrs_sharpe_ratio_fund  fund_return_3years  ...     tag  greatstone_rating
18603                    0.30                1.01  ...  195443                2.0
23247                    0.62                9.73  ...  237788                NaN
23572                    0.47                3.53  ...  240776                NaN

[3 rows x 37 columns]

In [0]:
df_training = df_ANNOVA[~data.greatstone_rating.isnull()]

In [0]:
df_testing =  df_ANNOVA[data.greatstone_rating.isnull()].drop(columns=['greatstone_rating'],axis=1)

In [0]:
#metrics.drop(columns='Unnamed: 0.1',inplace=True,axis=1)

In [0]:
metrics

                Name  Record_count  Columns_bkp  ...  Col_obj  Col_int  Null_count
0       bond_ratings       25000.0         12.0  ...      0.0     10.0         0.0
1   fund_allocations       25000.0         12.0  ...      0.0     12.0         0.0
2        fund_config       25000.0          4.0  ...      2.0      2.0         0.0
3         fund_specs       25000.0          9.0  ...      0.0     19.0      5000.0
4      return_10year       25000.0         17.0  ...      0.0     12.0         0.0
5       return_3year       25000.0         17.0  ...      0.0     12.0         0.0
6       return_5year       25000.0         17.0  ...      0.0     12.0         0.0
7        other_specs       25000.0         43.0  ...      0.0     29.0      5000.0
8        fund_ratios       25000.0          8.0  ...      0.0      3.0         0.0
9              df_FI       25000.0         37.0  ...      0.0     37.0      5000.0
10           df_CHI2       25000.0         37.0  ...      0.0     37.0      5000.0
11         df_ANNOVA       25000.0         37.0  ...      0.0     37.0      5000.0
12            df_RFE       25000.0          7.0  ...      0.0      7.0      5000.0

[13 rows x 7 columns]

In [0]:
df_training.shape

(20000, 37)

In [0]:
df_training.sample(3)

       5yrs_sharpe_ratio_fund  fund_return_3years  ...     tag  greatstone_rating
19342                0.050000                5.07  ...  202166                2.0
448                  0.538044                5.24  ...   30086                3.0
1585                 0.538044                3.57  ...   40445                4.0

[3 rows x 37 columns]

In [0]:
df_testing.shape

(5000, 36)

In [0]:

############################### IMPORTING LIBRARIES ############################

In [0]:
# multi-class classification with Keras
import pandas
from keras.models import Sequential
from keras.layers import Dense
from keras.wrappers.scikit_learn import KerasClassifier
from keras.utils import np_utils
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import KFold
from sklearn.preprocessing import LabelEncoder
from sklearn.pipeline import Pipeline
import numpy
import tensorflow as tf
from keras.models import Sequential
from keras.layers import Dense
from keras.layers import LSTM
from keras.layers.embeddings import Embedding
from keras.callbacks import EarlyStopping,  ModelCheckpoint
from keras.preprocessing import sequence
# fix random seed for reproducibility
numpy.random.seed(7)

In [0]:
X_0 = df_training.drop(columns=['tag','greatstone_rating'],axis=1).values
y_0 = df_training.loc[:,['greatstone_rating']].values
X_train_0,X_valid_0,y_train_0,y_valid_0 = train_test_split(X_0,y_0,test_size=0.3,random_state=576)
from sklearn import preprocessing
mm_scaler = preprocessing.MinMaxScaler()    #  MinMaxScaler() #StandardScaler
X_train_minmax_0 = mm_scaler.fit_transform(X_train_0)
X_valid_minmax_0 = mm_scaler.transform(X_valid_0)
y_train_0 = y_train_0.ravel()
y_valid_0 = y_valid_0.ravel()

In [0]:
#@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ NEURAL ##########################################################################

In [0]:
# load dataset
X = df_training.drop(columns=['tag','greatstone_rating'],axis=1).values.astype(float)
Y = df_training.loc[:,['greatstone_rating']].values.ravel()
# encode class values as integers
encoder = LabelEncoder()
encoder.fit(Y)
encoded_Y = encoder.transform(Y)
# convert integers to dummy variables (i.e. one hot encoded)
dummy_y = np_utils.to_categorical(encoded_Y)
#get number of columns in training data
n_cols = dummy_y.shape[1]
# define baseline model
def baseline_model():
	# create model
  #Initialize Sequential model
  model = tf.keras.models.Sequential()
	model = Sequential()
	model.add(Dense(8, input_dim=X.shape[1], kernel_initializer='he_normal', activation='relu', name='Input_layer'))
  model.add(BatchNormalization())
  model.add(Dropout(0.4))
  #Add 2nd hidden layer
  model.add(Dense(50, activation='relu', kernel_initializer='he_normal',  name='Layer_1'))
  # model.add(tf.keras.layers.LeakyReLU())
  model.add(BatchNormalization())
  #Dropout layer
  model.add(Dropout(0.3))
  #Add 3rd hidden layer
  model.add(Dense(50, activation='relu', kernel_initializer='he_normal', name='Layer_2'))
  # model.add(tf.keras.layers.LeakyReLU())
  model.add(BatchNormalization())
  model.add(Dropout(0.3))
	model.add(Dense(6, activation='softmax', kernel_initializer='he_normal', name='Output_layer'))
  #Create optimizer with non-default learning rate
  sgd_optimizer = optimizers.SGD(lr=0.03, decay=0.01 , momentum = 0.9, nesterov=True)
 	# Compile model
	model.compile(loss='categorical_crossentropy', optimizer=sgd_optimizer, metrics=['accuracy'])
	return model

estimator = KerasClassifier(build_fn=baseline_model, epochs=200, batch_size=5, verbose=0)
kfold = KFold(n_splits=10, shuffle=True)
results = cross_val_score(estimator, X, dummy_y, cv=kfold)
print("Baseline: %.2f%% (%.2f%%)" % (results.mean()*100, results.std()*100))

Baseline: 33.93% (0.94%)

In [0]:
model.summary()

In [0]:
## model.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])

# model.compile(loss='mean_absolute_error', optimizer='adam' , metrics=['mae']) ## 'adam'  ## model.compile(loss='mse', optimizer='adam', metrics=['mse','mae'])  mean_squared_error (mse) and mean_absolute_error (mae)

In [0]:
tensorboard = tf.keras.callbacks.TensorBoard(log_dir='/tmp/mnist/cnn_v5', embeddings_freq=1)

In [0]:
from keras.callbacks import EarlyStopping,  ModelCheckpoint
#set early stopping monitor so the model stops training when it won't improve anymore
early_stopping_monitor = EarlyStopping(monitor='val_loss', verbose=0, patience=3, min_delta=0.0001)

In [0]:
#Train the model
model.fit(X_train_minmax_0, y_train_0,          
          validation_data=(X_valid_minmax_0, y_valid_0),
          #callbacks=[tensorboard],
          epochs=10,
          batch_size=32, callbacks=[early_stopping_monitor])

Train on 14000 samples, validate on 6000 samples
Epoch 1/10
14000/14000 [==============================] - 16s 1ms/sample - loss: nan - accuracy: 0.0673 - val_loss: nan - val_accuracy: 0.0725
Epoch 2/10
14000/14000 [==============================] - 14s 989us/sample - loss: nan - accuracy: 0.0664 - val_loss: nan - val_accuracy: 0.0725
Epoch 3/10
14000/14000 [==============================] - 14s 996us/sample - loss: nan - accuracy: 0.0664 - val_loss: nan - val_accuracy: 0.0725

In [0]:
#@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@

In [0]:
cp_callback = tf.keras.callbacks.ModelCheckpoint(filepath=LSTMcheckpoint_path,
                                                 save_weights_only=True,
                                                 monitor='loss',
                                                 mode = 'min',
                                                 save_best_only=True,
                                                 verbose=1)

In [0]:
from keras.callbacks import EarlyStopping,  ModelCheckpoint

filepath="/gdrive/My Drive/Hackathon/GREATLEARNING-APRIL/weights-improvement-{epoch:02d}-{loss:.4f}.hdf5"
checkpoint = ModelCheckpoint(filepath, monitor='loss', verbose=1, save_best_only=True, mode='min') ## from keras.callbacks import EarlyStopping,  ModelCheckpoint
callbacks_list = [checkpoint]

callbacks=[EarlyStopping(patience=4, monitor='accuracy'), ModelCheckpoint(filepath="/content/transcripts/"  + 'my_model_gen_sentences_lstm.{epoch:02d}-{val_loss:.2f}.hdf5', monitor='val_loss', verbose=0, mode='auto', period=2)]

In [0]:
# history = model.fit(X_train, Y_train, epochs=epochs, batch_size=batch_size,validation_split=0.1,   callbacks=[EarlyStopping(monitor='val_loss', patience=3, min_delta=0.0001)])
history = model.fit(X_train_minmax_0, y_train_0, epochs=20,batch_size=32,validation_data=(X_valid_minmax_0, y_valid_0))#,   callbacks=callbacks_list
# history = model.fit(X_train, Y_train, epochs=epochs, batch_size=batch_size,validation_split=0.1,   callbacks=callbacks_list)
# define the checkpoint

In [0]:
model.save('mnist_dnn_v1.h5')

In [0]:
# accr = model.evaluate(X_test,Y_test)
scores = model.evaluate(X_valid_minmax, y_valid, verbose=0)
print("Accuracy: %.2f%%" % (scores[1]*100))

In [0]:
plt.title('Loss')
plt.plot(history.history['loss'], label='train')
plt.plot(history.history['val_loss'], label='test')
plt.legend()
plt.show()

In [0]:
predictions = model.predict(X_test_minmax)#, verbose=0)
len(predictions)

In [0]:
print(len(predictions))

In [0]:
type(predictions)

In [0]:
y_test_pred = [x[0] for x in predictions]
y_test_pred

In [0]:
df_test_bkp.head()

In [0]:
df_submission_final = pd.concat([df_test_bkp,np.round(pd.Series(y_test_pred,name='case_count'),1).astype('int64')],axis=1,)

In [0]:
df_training.to_csv('/gdrive/My Drive/Hackathon/GREATLEARNING-APRIL/FeatureAlgo/df_training.csv',index=False)

In [0]:
df_testing.to_csv('/gdrive/My Drive/Hackathon/GREATLEARNING-APRIL/FeatureAlgo/df_testing.csv',index=False)